// colors
$color-black: #000;
$color-white: #eee;
$color-jade: #00c04f;
$color-orange: #ff4f23;
$color-dusty-grey: #959595;
$color-bright-green: #5ae800;
$color-black-30: rgba($color-black, 0.3);
$color-black-40: rgba($color-black, 0.4);
$color-black-80: rgba($color-black, 0.8);
$color-black-25: rgba($color-black, 0.25);
$color-black-96: rgba($color-black, 0.96);

//viewports
$extra-large: 1440px;
$large: 1154px;
$medium: 980px;
$small: 580px;
$extra-small: 320px;

// dividers
$extraLargeSmallHeightDivider: 2.99;
$extraLargeMiddleHeightDivider: 4.25;
$largeHeightDivider: 2.91;
$mediumHeightDivider: 2.255;
$smallHeightDivider: 1.567;
